@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(255, 255, 255);
    color: rgb(228, 0, 0);
}
header.cabecalho{
    background-color: rgb(241, 11, 11);
    color: rgb(255, 255, 255);
    padding-top: -40px;
    padding-bottom: 60px;
   
    
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
}

.redes{
    text-align: end;
    justify-content: end;
    align-items:end;
    padding-right: 100px;
    gap: 20px;
    flex-wrap: wrap;
}
.fa-brands{
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;

}
.fa-brands:hover{
    transform: rotate(360deg);
    background-color: rgb(255, 0, 21);
    color: rgb(255, 255, 255);
    transition: 0.5s;

}

nav.menu{
   text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}


ul{
    display : flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
    padding-top: 20px;
    margin-bottom: -20px;

}
li{
    
    display : flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
} 

li.login{
    background-color: rgba(255, 255, 255, 0.747);
    padding: 7px 17px;
    border-radius: 10px;
    cursor: pointer;
    
}
ul>li>a.text-login{
    color: rgb(245, 1, 1);
}

li.login:hover{
    background-color: rgb(255, 255, 255);
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
    
}

li.active:hover{
   border-bottom: solid 2px  rgb(255, 255, 255);
   padding-bottom: 7px;
}

main.principal{
   text-align: center;
   font-family:  'Times New Roman', Times, sans-serif ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    font-size: 20px;
}
div.div-principal{  
    background-color: rgb(255, 0, 21);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 103%;
    height: 400px;
}

div.produto{  
    background-color: rgb(255, 255, 255);
    display: flex;
    box-shadow: 10px 6px 20px 3px rgba(0, 0, 0, 0.384);
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 300px;
    height: 300px;
    margin: 40px;
    margin-top: 200px;
    margin: 20px;
    border-radius: 10px;	
    padding: 20px;
}